* {
    cursor: url(../image/mouseicon_02.png), auto;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    padding: 16px 24px;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.header-nav {
    display: flex;
    gap: 32px;
}

.header-list {
    color: #777d88;
    text-decoration: none;
}

.header-list:hover {
    color: #c2b7b7;
}

.panel-primary {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid #193C50;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(51, 51, 102, 0.5);
}

.class-link {
    color: #000000;
    text-decoration: none;
}

.class-link:hover {
    color: #ff3636;
}

.class-time {
    width: 150px;
    text-align: center;
    background-color: #DDEEFF;
}

.footer {
    padding: 2rem;
    font-size: 15px;
    color: #9ca3af;
    background: #1d1e22;
    text-align: center;
}

.footer__navi {
    margin-bottom: 2rem;
}

.footer__navi li {
    display: inline-block;
    margin-right: 16px;
}

.footer__logo img {
    width: 180px;
    height: 40px;
    alt: "USC Logo";
}


.header {
    padding: 16px 24px;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-weight: bold;
    font-size: 20px;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 16px;
    font-weight: bold;
    list-style: none;
}

.header-item--contact {
    background-color: #e6e6e6;
    color: #fff;
    padding: 6px 16px;
    border-radius: 6px;
}

.footer {
    padding: 2rem;
    font-size: 15px;
    color: #9ca3af;
    background: #1d1e22;
}

.footer__navi {
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.footer__navi li {
    display: inline-block;
}

.footer__navi li:not(:last-child) {
    margin-right: 16px;
}

.header-list {
    color: #777d88;
    text-decoration: none;
}

.header-list:hover {
    color: #c2b7b7;
}

.panel-info>.panel-heading {
    background-color: #336699;
    border-color: #4C99E5;
    color: white;
}

.class-link {
    color: #000000;
    text-decoration: none;
}

.class-link:hover {
    color: #ff3636;
}

.panel-primary {
    padding-left: 370px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f9f9f9;
    border: 2px solid #193C50;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(51, 51, 102, 0.5);
}

.panel-heading {
    padding: 10px 15px;
    background-color: #193C50;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.panel-info {
    border-color: #91BBE5;
    box-shadow: 4px 4px 3px rgba(51, 51, 102, 0.5);
}

.pagination select {
    padding-top: 2px;
    margin-bottom: -2px;
}

.pagination input {
    padding-top: 2px;
    margin-top: -2px;
    margin-bottom: -3px;
    width: 40px;
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    border: 1px solid #193C50;
    padding: 10px;
    text-align: center;
}

.table>tbody>tr:hover>td {
    background-color: #D0D0FF;
}

.table>tbody>tr.active>td {
    background-color: #91BBE5;
    color: white;
}

.table>tbody>tr>th {
    color: white;
    background-color: #193C50;
    vertical-align: middle;
}

h1 {
    position: relative;
    background: #dfefff;
    box-shadow: 0px 0px 0px 5px #dfefff;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
    text-align: center;
}

h1:after {
    position: absolute;
    content: '';
    left: -7px;
    top: -7px;
    border-width: 0 0 15px 15px;
    border-style: solid;
    border-color: #fff #fff #a8d4ff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

h2 {
    border-bottom: solid 3px skyblue;
    position: relative;
    width: 1000px;
}

h2:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #ffc778;
    bottom: -3px;
    width: 10%;
}

.class-list {
    background-color: #CCCCCC;
    text-align: center;
}

.class-list-sleep {
    background-color: #bebebe;
    text-align: center;
}

.class-time {
    width: 150px;
    text-align: center;
    background-color: #DDEEFF;
}

.class-list-lunch {
    background-color: #ffff70;
    text-align: center;
}

.class-list-work {
    background-color: #80ff8b;
    text-align: center;
}

.class-list-school {
    background-color: rgb(255, 144, 144);
    text-align: center;
}

.class-color {
    background-color: #AACCEE;
    text-align: center;
}

.class-blue {
    background-color: #DDEEFF;
    text-align: center;
}

.class-list-code {
    text-align: center;
    background-color: rgb(250, 187, 69);
}