@charset "UTF-8";

a {
    color: #3F82A8;
}

* {
    cursor: url(../image/ikamusume.png), auto;
}

a:hover {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

body {
    text-align: center;
    padding: 50px 0;
}

@media (max-width: 767px) {
    body {
        max-width: 980px; /* 幅を600pxに制限 */
        margin: 0 auto; /* 中央寄せ */
        padding: 20px; /* 必要に応じて適切なパディングを追加 */
    }
}


h1 {
    padding: 30px 0;
}

h2 {
    background-color: #F89174;
    color: #ffffff;
    width: 980px;
    padding: 5px 0;
    margin: 20px auto;
}

h3 {
    background-color: #F5F5F5;
    width: 980px;
    padding: 5px 0;
    margin: 20px auto;
}

p {
    font-size: 14px;
}

ul {
    border: 3px solid #F5F5F5;
    width: 880px;
    padding: 10px 0;
    margin: 20px auto;
}

li {
    list-style: none;
    padding: 5px 0;
}

.image-text {
    font-size: 18px;
    font-family: "Noto Sans TC", sans-serif;
}

.fuchidori {
    color: #ffffff;
    text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000,
        -1px 1px 0 #000000, 1px -1px 0 #000000,
        0px 1px 0 #000000, 0-1px 0 #000000,
        -1px 0 0 #000000, 1px 0 0 #000000;
}

.padding-4 {
    padding-right: 20px;
    font-size: 5;
    color: darkgoldenrod;
}

.padding-5 {
    padding-left: 10px;
    font-size: 4;
    color: black;
}

.footer-ul {
    list-style: none;
    padding: 0;
}

.footer {
    padding: 2rem;
    font-size: 15px;
    color: #999;
    background: #fff;
    border-top: 1px solid #e5e7eb;
}

.footer a:hover {
    color: #000;
}

@media (min-width: 768px) {
    .footer {
        display: flex;
        justify-content: space-between;
    }

    .md-flex {
        display: flex;
    }

    .md-flex li+li {
        margin-left: 170px;
    }
}

.custom-center {
    padding: 43px;
    color: #3F82A8;
}

.custom-center:hover {
    text-decoration: none;
}